@media (max-width: 1200px)
	.menu
		.menu_item
			padding-right: 20px
		.menu_link
			font-size: 13px
	.promo
		.promo_header
			font-size: 50px
	.reasons
		.reason_box 
			.reason_content
				width: 300px

@media (max-width: 991px)
	.menu
		.menu_item
			padding-right: 10px
		.menu_link
			font-size: 10px
	.subheader
		.subheader_logo
			img
				width: 100%
		.subheader_official
			font-size: 12px
		.subheader_phone
			font-size: 18px
		.subheader_btn
			height: 40px
			width: 100%
	.promo
		.promo_header
			font-size: 40px
		.promo_subheader
			font-size: 30px
	.reasons
		.reason_box
			flex-direction: column
			align-items: center
			.reason_ellipse
				margin-right: 0
			.reason_content
				margin-top: 20px
				width: 300px
				.reason_text
					margin-top: 5px

@media (max-width: 767px)
	.menu
		position: fixed
		flex-direction: column
		justify-content: center
		align-items: center
		top: 0
		left: -100%
		height: 100vh
		padding: 20px 15px
		background-color: rgba(0, 0, 0, 0.8)
		transition: 1s all 
		&_active
			left: 0
		.menu_item
			padding-right: 0
			border: 0
			margin: 10px 0
		.menu_link
			font-size: 20px
	.hamburger
		display: block
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)
		width: 26px
		span
			display: block
			height: 2px
			width: 100%
			background-color: #FFF
			margin-bottom: 2px
			transition: 0.5s all
		&_active
			span
				margin-bottom: -2px
				&:nth-child(1)
					transform: rotate(-45deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: rotate(45deg)
	.xs-hidden
		display: none
	.xs-visible
		display: block
	.subheader
		.subheader_phone
			display: block
			margin-top: 10px
			color: #FFF
			text-align: center
			font-size: 16px
			font-weight: 400
			text-transform: uppercase
		.subheader_btn
			display: block
			margin-top: 10px
			width: 200px
			height: 40px
			margin: 0 auto
	.promo
		.promo_header
			line-height: 45px
			font-size: 40px
		.promo_subheader
			font-size: 30px		

@media (max-width: 575px)
	nav
		height: 30px
	.subheader
		height: 60px
		top: 30px
		.subheader_official
			display: none
		.subheader_logo
			margin-top: 17px
		.subheader_phone
			margin-top: 11px
			font-size: 12px
		.subheader_btn
			margin-top: 4px
			width: 110px
			height: 20px
			font-size: 10px
	.promo
		padding: 115px 0 34px 0
		min-height: 400px
		.promo_descr
			display: none
		.promo_header
			font-size: 30px
			padding: 0 24px
			line-height: 35px
		.promo_subheader
			margin-top: 20px
			font-size: 20px
			padding: 0 10px
			line-height: 30px
		.promo_btn
			margin-top:72px
			width: 210px
			height: 50px
	.reasons
		padding: 22px 0 36px 0
		.eight_reasons
			margin-top: 15px
			font-size: 16px
			line-height: 16px
		.reason_box
			margin-top: 24px
			.reason_ellipse
				width: 100px
				height: 100px
			.reason_content
				.reason_title
					font-style: 16px
				.reason_text
					width: 95%
					margin-top: 13px

					
			


