* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 40px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 17px;
}
.subheader .subheader_official {
  margin-top: 6px;
  color: #FFF;
  font-size: 13px;
  font-weight: 100;
}
.subheader .subheader_call {
  margin-top: 21px;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
}
.subheader .subheader_phone {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.subheader .subheader_btn {
  margin-top: 21px;
  color: #FFF;
  width: 172px;
  height: 46px;
  text-align: center;
  text-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.promo {
  color: #FFF;
  text-align: center;
  padding: 205px 0 185px 0;
  min-height: 800px;
  background: url("../img/background/promo_bg.png") center center/cover no-repeat;
}
.promo .promo_header {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
.promo .promo_subheader {
  font-size: 36px;
  font-weight: 900;
}
.promo .promo_descr {
  margin-top: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.promo .promo_btn {
  margin-top: 116px;
  width: 259px;
  height: 63px;
  border: none;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.reasons {
  background-color: #FFF;
  min-height: 850px;
  padding: 20px 0 67px 0;
}
.reasons .reasons_advantages {
  padding-top: 5px;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background-color: black;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.reasons .eight_reasons {
  margin-top: 30px;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.reasons .reason_box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reasons .reason_box .reason_ellipse {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
}
.reasons .reason_box .reason_content {
  margin-left: 25px;
  width: 400px;
  min-height: 151px;
}
.reasons .reason_box .reason_content .reason_title {
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}
.reasons .reason_box .reason_content .reason_text {
  color: #202020;
  font-size: 15px;
  font-weight: 400;
}

.mobile {
  min-height: 864px;
  padding-top: 48px;
  background: url("../img/background/mobile_bg.png") center center/cover no-repeat;
}
.mobile .mobile_advantages {
  margin-top: 48px;
  padding-top: 5px;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background-color: black;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.mobile .mobile_title {
  margin-top: 33px;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.mobile .mobile_subtitle {
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 82px;
  width: 320px;
  height: 280px;
}
.mobile_card .mobile_card_title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.mobile_card .mobile_card_plus {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_card .mobile_card_plus img {
  width: 55%;
}
.mobile_card_1 {
  background: url("../img/cards/card_1.png");
}
.mobile_card_2 {
  background: url("../img/cards/card_2.png");
}
.mobile_card_3 {
  background: url("../img/cards/card_3.png");
}
.mobile_card_4 {
  background: url("../img/cards/card_4.png");
}
.mobile_card_5 {
  background: url("../img/cards/card_5.png");
}
.mobile_card_6 {
  background: url("../img/cards/card_6.png");
}

.uberX {
  padding-top: 59px;
  background-color: #070716;
  height: 502px;
}
.uberX .uberX_advantages {
  padding-top: 5px;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background-color: #FFF;
  color: black;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.uberX .uberX_title {
  margin-top: 27px;
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.uberX .uberX_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
.uberX_car {
  position: relative;
  height: 397px;
  background: url("../img/background/car_bg.png") center center/cover no-repeat;
}
.uberX_car .uberX_img {
  top: -268px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.uberX_car .uberX_img_text {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  position: absolute;
  top: 210px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */